<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetrolPumpManagement.Properties.Settings.PetrolPumpDbConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\PetrolPumpDb.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    
    <add name="cs"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\abc\documents\visual studio 2013\Projects\PetrolPumpManagement\PetrolPumpManagement\PetrolPumpDb.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>